extends layout 

block content
  h2= title 
    div(class='add')
        a(href='../brands/create') Add a new brand
  ul(class='brand')
    each brand in brand_list
      li 
        a(href=brand.url) #{brand.name}
    else 
      li The are no brands

  